<div>
        <div class="container" id='contact'>
            <div class="row">
                <div style="width:'fit-content'" class="col col-lg-4 d-flex flex-column align-items-start mb-5" >
                    <div class='align-self-center ' >
                        <a routerLink="/" class="d-flex align-items-center p-0 text-dark">
                        <span class="ml-3 h5 font-weight-bold" style="color:'red'">Quizzy</span>
                        </a>
                        <p class='text-start'>Thank you for visiting.<br/> Keep testing your skills.</p>
                        <div class="d-flex mt-5">
                        
                        <Button flat="true" style="border-radius:5px" color="dark" class="bg-black border-dark mx-1 px-3 py-2 d-flex align-items-center">
                            <i class="fa-brands fa-github" style="font-size:0.8em; color:white;"></i>
                        <!-- <GrLinkedinOption style="fontSize:'0.8em'"/> -->
                        </Button>
                        <Button flat="true" style="border-radius:5px" color="dark" class="bg-black border-dark mx-1 px-3 py-2 d-flex align-items-center">
                            <i class="fa-brands fa-linkedin" style="font-size:0.8em; color:white;"></i>
                            <!-- <FaFacebookF style="fontSize:'0.8em'"/> -->
                        </Button>
                        <Button flat="true" style="border-radius:5px" color="dark" class="bg-black border-dark mx-1 px-3 py-2 d-flex align-items-center">
                            <i class="fa-brands fa-instagram" style="font-size:0.8em; color:white;"></i>
                            <!-- <GrTwitter style="fontSize:'0.8em'"/> -->
                        </Button>
                        <Button flat="true" style="border-radius:5px" color="dark" class="bg-black border-dark mx-1 px-3 py-2 d-flex align-items-center">
                            <i class="fa-brands fa-twitter" style="font-size:0.8em; color:white;"></i>
                            <!-- <GrInstagram style="fontSize:'0.8em'"/> -->
                        </Button>
                        </div>
                    </div>
                </div>
                <div class="col d-flex justify-content-evenly" style="width:'100%'">
                <div class="col col-sm-5 col-lg-5">
                <p class="h5 mb-4 text-start" style="font: '600' ">
                    Quick Links
                </p>
                <div class="menu d-flex flex-column text-start mb-5" style=" cursor: 'pointer' ">
                    <a routerLink="/menu">Home</a>
                    <a href="https://www.linkedin.com/in/mohd-riyan-0330b4225/" target='_blank'  rel="noreferrer">About Us</a>
                    <a href="https://www.linkedin.com/in/mohd-riyan-0330b4225/" target='_blank'  rel="noreferrer">Contact</a>
                    <a routerLink='/adminlogin'><span>Admin Panel</span></a>
                </div>
                </div>
                <div class="col-md-4">
                    <p class="h5 mb-4 text-start" style="font:'600' ">
                    Help
                    </p>
                    <div class="menu d-flex flex-column text-start" style=" cursor: 'pointer' ">
                        <a routerLink="/">Support</a>
                        <a routerLink="/">Legal Info</a>
                        <a routerLink="/">Contact</a>
                    </div>
                </div>
                </div>
                
            </div>
        </div>


        <div class="row justify-content-center">
         <small class="text-center mt-5">&copy; <a style="color:'black'" routerLink="https://www.linkedin.com/in/mohd-riyan-0330b4225/" target="_blank" rel="noopener noreferrer"> 
          Mohd Riyan</a> , 2022. All rights reserved.</small>
         </div>
    </div>
