<div class="login-page bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="bg-white shadow rounded">
                    <div class="row mb-4">
                        <div class="col-md-7 pe-0 fill">
                            <div class="d-flex justify-content-center row fill">
                                <div class="col-md-10 col-lg-10 fill">
                                    <div class="border fill">
                                        <div class="question bg-white p-3 border-bottom fill">
                                            <div
                                                class="d-flex flex-row justify-content-between align-items-center mcq ">
                                                <h4 class="fill">Add Question</h4>
                                            </div>
                                        </div>

                                        <form>
                                            <div class="container" style="background: white;">
                                                <div class="row">
                                                    <div class="form-group">
                                                        <label for="exampleInputEmail1">Question</label>
                                                        <input type="text" class="form-control" id="exampleInputEmail1"
                                                            aria-describedby="emailHelp" placeholder="Enter email">
                                                    </div>
                                                    <div class="container">
                                                        <div class="row">
                                                            <div class="col">
                                                                <div class="form-group">
                                                                    <label for="exampleInputOption1">Option 1</label>
                                                                    <input type="text" class="form-control"
                                                                        id="exampleInputOption1"
                                                                        placeholder="Option">
                                                                </div>
                                                            </div>
                                                            <div class="col">
                                                                <div class="form-group">
                                                                    <label for="exampleInputOption1">Option 2</label>
                                                                    <input type="text" class="form-control"
                                                                        id="exampleInputOption1"
                                                                        placeholder="Option">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col">
                                                                <div class="form-group">
                                                                    <label for="exampleInputOption1">Option 3</label>
                                                                    <input type="text" class="form-control"
                                                                        id="exampleInputOption1"
                                                                        placeholder="Option">
                                                                </div>
                                                            </div>
                                                            <div class="col">
                                                                <div class="form-group">
                                                                    <label for="exampleInputOption1">Option 4</label>
                                                                    <input type="text" class="form-control"
                                                                        id="exampleInputOption1"
                                                                        placeholder="Option">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        <div
                                            class="d-flex flex-row justify-content-between align-items-center p-3 bg-white">
                                            <button class="btn btn-primary d-flex align-items-center btn-danger"
                                                type="button"><i
                                                    class="fa fa-angle-left mt-1 mr-1"></i>&nbsp;Cancel</button>
                                                    <button type="submit"
                                                class="btn btn-primary border-success align-items-center btn-success"
                                                type="button">Add<i class="fa fa-angle-right ml-2"></i></button>
                                        </div>
                                    </form>

                                    </div>
                                </div>
                            </div>




                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>